.tds-list {
  div {
    display: flex;
    border: none;
    border-bottom: 1px lightgray solid;
    margin-bottom: 0;
    &:last-child { border-bottom: none; }

    button{
    	border: none;
    }

    .td-info {
      flex-grow: 1;
    }
  }
}